/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
html, body, span, applet, object, iframe,
, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
, dt, dd,, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
*/
body {
  color: #333333;
  font-family: 'Segoe UI', 'Meiryo UI', serif-ja, serif;
  font-size: 0.94em;
  letter-spacing: 0.07em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
}

p, pre, ul, ol, dl, table, div, blockquote, figure, aside {
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

section {
  margin-top: 0em;
}

h1 {
  color: #ffffff;
  background-color: #00838f;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 1.88em;
  margin-top: 1.76em;
  margin-left: 0em;
  margin-right: 0em;
}

h2 {
  font-weight: bold;
  font-size: 1.598em;
  margin-top: 1.6em;
  line-height: 1.28em;
  background-color: #4fb3bf;
  padding: 10px 20px;
  margin-left: 0em;
  margin-right: 0em;
}

h3 {
  font-weight: bold;
  font-size: 1.41em;
  margin-top: 1.6em;
  line-height: 1.28em;
  color: #00838f;
  padding-left: 20px;
  padding-right: 20px;
}

h4 {
  font-weight: bold;
  font-size: 1.316em;
  margin-top: 1.6em;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

h5 {
  font-weight: bold;
  font-size: 1.128em;
  margin-top: 1.6em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

h6 {
  font-weight: bold;
  font-size: 1.034em;
  margin-top: 1.6em;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

table {
  border-collapse: collapse;
}
table caption {
  color: #BDBDBD;
}
table th, table td {
  border: solid 1px #E0E0E0;
  padding: 0.2em 0.5em;
}
table th {
  background-color: #EEEEEE;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

li {
  margin-top: 0.4em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

dt {
  font-weight: 600;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-top: 0.4em;
}

dd {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code, kbd {
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: #EEEEEE;
}

figcaption {
  color: #858585;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin-top: 1em;
  border: none;
}

blockquote {
  margin-left: 2.4em;
  margin-right: 2.4em;
  padding: 0.1em 0.5em 0.5em 0.5em;
  font-style: italic;
  color: #666666;
}

sup {
  font-size: 70%;
  vertical-align: top;
  position: relative;
  top: -0.1em;
}

sub {
  font-size: 70%;
  vertical-align: bottom;
  position: relative;
  top: -0.1em;
}

body > section:first-child,
body > section:first-child > h1:first-child,
body > section > h2:first-child {
  margin-top: 0;
}

body > section > header > h1 {
  margin-top: 0;
}

section + section {
  margin-top: 2em;
}

body > section > h3:first-child {
  margin-top: 0.8em;
}

h1 + *, h2 + *, h3 + * {
  margin-top: 0.8em;
}

h4 + *, h5 + *, h6 + * {
  margin-top: 0.3em;
}

dd > p:first-child {
  margin-top: 0;
}

li > p {
  margin-left: 0;
  margin-right: 0;
}

pre samp, pre code {
  display: block;
  font-family: 'consolas', 'Meiryo UI';
  padding: 1em 1em;
  overflow-x: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
pre samp {
  background-color: #333333;
  color: #ffffff;
}
pre code {
  background-color: #33333333;
}

dd > p:first-child {
  margin-top: 0;
}

p + ul, ol {
  margin-top: 0.4em;
}

li ol, li ul, li dl {
  margin-top: 0;
  margin-bottom: 0.8em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-family: 'Meiryo UI Italic';
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.mt-00 {
  margin-top: 0;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-10 {
  margin-top: 1em;
}

.mt-15 {
  margin-top: 1.5em;
}

.mb-00 {
  margin-bottom: 0;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-10 {
  margin-bottom: 1em;
}

.mb-15 {
  margin-bottom: 1.5em;
}

.ml-00 {
  margin-left: 0;
}

.ml-05 {
  margin-left: 0.5em;
}

.ml-10 {
  margin-left: 1em;
}

.ml-20 {
  margin-left: 2em;
}

.ml-30 {
  margin-left: 3em;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.comment {
  color: #4CAF50;
}

.lst-no-mark {
  list-style-type: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.lst-alpha {
  list-style-type: lower-alpha;
}

.lst-lower-roman {
  list-style-type: lower-roman;
}

.lst-zero-decimal {
  list-style-type: decimal-leading-zero;
}

.note, .caution, .tip, .warn {
  padding: 1em;
  margin-top: 1.6em;
}
.note > *:first-child, .caution > *:first-child, .tip > *:first-child, .warn > *:first-child {
  margin-top: 0;
}
.note h5, .caution h5, .tip h5, .warn h5 {
  font-size: 11pt;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
}
.note h5 + p, .caution h5 + p, .tip h5 + p, .warn h5 + p {
  margin-top: 0.3em;
  margin-left: 0;
  margin-right: 0;
}
.note p, .caution p, .tip p, .warn p {
  margin-top: 0.5em;
}
.note ul, .note div, .caution ul, .caution div, .tip ul, .tip div, .warn ul, .warn div {
  margin-left: 0;
}
.note ul.lst-no-mark li, .caution ul.lst-no-mark li, .tip ul.lst-no-mark li, .warn ul.lst-no-mark li {
  margin-left: 0;
}

.note {
  background-color: #EEF9FD;
  color: #01579B;
}
.note code, .note kbd {
  color: #E31171;
  background-color: #D8F2FA;
}

.tip {
  background-color: rgba(0, 164, 0, 0.15);
  color: #003100;
}
.tip code, .tip kbd {
  color: #E31171;
  background-color: #C4E9C4;
}

.warn {
  background-color: #FFF8E6;
  color: #4D3800;
}
.warn code, .warn kbd {
  background-color: #FFEFC4;
}

.caution {
  background-color: #FEEFE3;
  color: #BF360C;
}
.caution code, .caution kbd {
  background-color: #FED0D2;
}

.long-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
